*{
    margin: 0;
    padding: 0;
}

.container{
    @media (max-width: 297px)
    .container {
    display: flex;
}
}
.container{
    color: #707070;
    background-color: #ffffff;
    border: none;
    box-shadow: 0px 5px 12px 0px rgb(171 171 171);
    border-left: 6px solid #26d467;
    text-align: center;
    margin-top: 50px;
    width: 300px;
    height: 160px;
    padding: 15px;
    border-radius: 4px;
    margin-left: 500px;  
    display: flex;
}
.container-content{
    position: relative;
    bottom: 130px;
}
.content1{
    text-align: left;
    margin-bottom: 15px;
    font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
   font-style: bold;
   color:#166FB6 ; 
    
}
.content2{
    text-align: left;
    font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
   font-style: bold;
   color:#166FB6 ; 
   margin-top: 15px;
}

#texto1{
    font-size:  21px; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    color: #787878;
    
}
#texto2{
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
   font-style: bold;
   color:#166FB6 ; 
}
span{
    color:#166FB6 ;
    
   
}
p{
    text-align: left;
}
a{
    text-decoration: none;
    font-size:  21px; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    color: #787878;
    

}
a:hover{
    color: rgb(13, 240, 13);
}
.card-card{
    width: 70px;
    height: 70px; 
    margin-left: 100px;
}
.img-card{
  
}
