*{
    margin: 0;
    padding: 0;
}

.container1{
    display: flex;
    position: absolute;
    
}
.footer{
    position: relative;
    margin-top: 590px;
    margin-left: 520px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #707070;
    font-weight: bolder;
}
p{
    text-align: center;
}
